<a href="https://colab.research.google.com/github/akhmadhidayat/machine-learning/blob/main/akhmadhidayat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 import pandas as pd
 path="/content/drive/My Drive/machine learning/confirmed_acc.csv"
 dataset=pd.read_csv(path)
 dataset

         date  cases
0   1/22/2020      0
1   1/23/2020      0
2   1/24/2020      0
3   1/25/2020      0
4   1/26/2020      0
..        ...    ...
75   4/6/2020   2491
76   4/7/2020   2738
77   4/8/2020   2956
78   4/9/2020   3293
79  4/10/2020   3512

[80 rows x 2 columns]

In [3]:
dataset.head()

        date  cases
0  1/22/2020      0
1  1/23/2020      0
2  1/24/2020      0
3  1/25/2020      0
4  1/26/2020      0

In [4]:
dataset.shape

(80, 2)

In [5]:
dataset.isnull().sum()

date     0
cases    0
dtype: int64

In [6]:
dataset.max()

date     4/9/2020
cases        3512
dtype: object

In [7]:
dataset.min()

date     1/22/2020
cases            0
dtype: object

In [8]:
dataset.describe()

             cases
count    80.000000
mean    459.700000
std     869.187492
min       0.000000
25%       0.000000
50%       1.000000
75%     466.000000
max    3512.000000

In [29]:
dataset.describe().loc['max']['cases']

3512.0

(80, 2)